@import '../../variables';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93px;
  box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1125px;
  height: 63px;
}

.logo {
  width: 158px;
  height: 63px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  min-width: 658px;
}

.menuitem {
  font-size: 25px;
  line-height: 29px;
  color: $dark;

  a {
    color: $dark;
    text-decoration: none;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -8px;
      height: 1px;
      width: 100%;
      background: $dark;
      border: 1px solid $dark;
      border-radius: 6px;
      opacity: 0;
      left: 50%;
      transform: translate(-50%, 0);
      transition: opacity, width ease-in-out 0.25s;
    }

    &:hover {
      &:after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}
