.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: linear-gradient(180deg, white 30.32%, #f5f5f5 100%);
  overflow-x: hidden;
}

.heading {
  letter-spacing: 3px;
  margin: 34px 0;

  .bold {
    font-weight: bold;
  }
}

.pokedexWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  max-width: 1440px;
}

.controls {
  width: 100%;
  max-width: 1088px;
  margin: 34px;
}
